%p#notice= notice
%h1 TODORS
%br/
%input#new-task
%button#submit-new-task
  Submit
%br
%br
%br
%table
  %thead
    %tr
      %th Task
      %th Due date
      %th Participant
      %th{:colspan => "3"}
  %tbody
    - @todos.each do |todo|
      %tr
        %td= todo.task
        %td= todo.due_date
        %td= todo.participant
        -# %td= link_to 'Show', todo
        -# %td= link_to 'Edit', edit_todo_path(todo)
        -# %td= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' }
